<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>726982525425-f3cm9n7qvhp99skpaggnji4ljei6nuhm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726982525425-f3cm9n7qvhp99skpaggnji4ljei6nuhm</string>
	<key>API_KEY</key>
	<string>AIzaSyAr4quZ37d2icB7dvu1txnXC1VEmFnPArw</string>
	<key>GCM_SENDER_ID</key>
	<string>726982525425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokSee</string>
	<key>PROJECT_ID</key>
	<string>tiktok-see</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-see.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726982525425:ios:da95a439bee132b576c450</string>
</dict>
</plist>